### Add parentheses where necessary so that each of the following expressions evaluates to True:

In [ ]:
# TODO
False == not True

In [ ]:
# TODO
True and False == True and False

In [ ]:
# TODO
not True and "A" == "B"

In [ ]:
# TODO
False == False in [False]

In [ ]:
# TODO
1 == 2 == 0

### Construct a list of numbers from `1` to `1000`, then use `len()` function to assert the list length.

In [ ]:
# TODO
nums_list =

In [ ]:
# TODO
len(nums_list)

### Subset the first 50 numbers from `nums_list` into another list and assign it to `sliced`.

In [ ]:
# TODO
sliced =

### Filter odd and even numbers in `sliced` to `odd_nums_list` and `even_nums_list` respectively.

In [ ]:
# TODO

### Write a Python program to count Even and Odd numbers in a List:
> - Input: `[2, 7, 5, 64, 14]`
> - Output: `even` = 3, `odd` = 2

In [ ]:
nums_list = [2, 7, 5, 64, 14]

In [ ]:
# TODO

### Use list indexing to determine how many days are in a particular month based on the integer variable `month`, and store that value in the integer variable `num_of_days_per_month`. For example, if `month` is `8`, `num_of_days_per_month` should be set to `31`, since the eighth month, August, has 31 days.

In [ ]:
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [ ]:
# TODO
num_of_days_per_month =
print(num_days)

### Return a copy of `dates_list` with the dates sorted in ascending order (without altering the original list).

In [ ]:
dates_list = ['1972-07-30',  '2014-03-13', '2018-08-06', '1973-04-16', '1996-07-10',
              '2019-02-20', '2012-02-26', '1991-04-07', '2013-05-22', '2019-12-28',
              '2010-03-05', '2016-05-16', '1976-01-02', '2005-01-09', '1977-11-09',
              '1981-08-12', '1971-08-08', '1988-11-27', '2014-10-16', '2009-12-12']

In [ ]:
#TODO
dates_list_sorted_copy =

### Select the three most recent dates from `dates_list_sorted_copy` using list slicing notation.

In [ ]:
# TODO

### There is something wrong with this code, fix it to return the list `nums_list` sorted in ascending order.

In [ ]:
# TODO
nums_list = [6, 4, 7, 3, 5, 8, 9]
nums_list = nums_list.sort()
nums_list

### Return a string `names_str` containing names in `names_list` sorted in ascending order and separated by a comma (`,`).

In [ ]:
names_list = ['John Hall', 'Nicole Morrison', 'Matthew Romero', 'Diana Smith']

In [ ]:
# TODO
names_str =

### Combine these two lists together `[1, 2, 3, 4]` & `[5, 6, 7, 8]` to create a new `nums_list` using three different methods.

In [ ]:
# TODO
nums_list =

In [ ]:
# TODO
nums_list =

In [ ]:
# TODO
nums_list =

### Create a new list unique_nums_list that contains non-duplicate elements from `nums_list`.

In [ ]:
nums_list = [1, 4, 5, 2, 4, 5, 4, 6, 7, 6, 8]

In [ ]:
# TODO

### Modify the following code so that `nums_list_01` and `nums_list_02` are two different objects.

In [ ]:
# TODO
nums_list_01 = [1, 2, 3, 4]
nums_list_02 = nums_list_01

In [ ]:
# The result should be True
nums_list_01 == nums_list_02

In [ ]:
# The result should be False
nums_list_01 is nums_list_02

### Given a list `nums_list` , write a program to swap first and last elements in a list:
> - Input : `[12, 35, 9, 56, 24]`
> - Output : `[24, 35, 9, 56, 12]`

In [ ]:
nums_list = [12, 35, 9, 56, 24]

In [ ]:
# TODO

### Write a Python program to find second largest number in a list:
> - Input: list1 =` [10, 20, 4]`
> - Output: `10`

In [ ]:
nums_list = [10, 20, 4]

In [ ]:
# TODO

### Write a Python program to print all negative numbers in a range (from `a` to `b`):
> - Input: `a = -4`, `b = 5`
> - Output: `-4, -3, -2, -1`

In [ ]:
a, b = -4, 5

In [ ]:
# TODO